.header {
    position: absolute;
    background-color: var(--blanc-clair);
    width: 100%;
}

.logo {
    width: 100px;
    height: 56px;
}

#barre{
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 8%;
    height: 2px;
    width: 90%;
    background-color:var(--rouge);
 }
 